version: '3'
services:
  asiamed:
    image: richarvey/nginx-php-fpm
    environment:
    - WEBROOT=/var/www/html/src/
    - GOOGLE_GA={{ google_ga }}
    - GOOGLE_RECAPTCHA={{ google_recaptcha }}
    - MAIL={{ mail }}
    - GOOGLE_RECAPTCHA_SITE_KEY=google_recaptcha_site_key:
    volumes:
    - ./website:/var/www/html/src/
    ports:
    - 8881:80